*{
    margin: 0;
    padding: 0;
    
}
#main-hading{
    background:#40f5ff;    
    margin-bottom:40px;
    border:2px solid black;
    border-radius: 4px;

    
}
#entersubject{
    color:#ff742b;
    font-weight:bold;
    border:2px dotted #1100ff;
    border-radius: 4px;
    background:#00ffd5;
    display:block;
}
#label-div{
    display:flex;
    margin-bottom: 10px;
}
#subjectInput{
    display:block;
    
}
#main{
    gap:20px;
    display:flex;
    flex-direction:column;
    background:#fffc40;
    align-items:center;
    flex-grow:1;
}
#search{
    color:black;
    background:#2bff2e;
    border:2px #182b2f;
    border-radius: 4px;
    Font-size:20px
    
}
#footer{
    background:#ff1515;
    display:flex;
    justify-content:flex-end;
    
}
 #contact{
    position:fixed;
    right:10px;
    bottom:10px;
    
}
body{
    min-hight:100vh;
    display:flex;
    flex-direction:column;
    
}
#cover{
    flex-grow:1;
}
p{
    font-size:40px;
}
